<div style="text-align:center">
<table width=80% style="font-family:arial;"><tr style="height: 120px;">
<td width=80% >
<img src="img/logoavapace.png" alt="" />
</td>
<td width=20% >
 <table width=500px style="text-align:right"><tr>
	<td>
				<table><tr>
					<td><img src="img/casa.png"  /></td>
					<td><strong>PL. JOSÉ MARÍA ORENSE, 6<br />
						46022 VALENCIA, VALENCIA</strong>
					</td>
				</tr></table>
	</td>
	<td >
				<table><tr>
					<td><img src="img/telefono.png"  /></td>
					<td><a class="azul" href="tel:963604437">96 360 44 37</a><br />
						<a href="mailto:info@avapace.org"><strong>info@avapace.org</strong></a>
					</td>
				</tr></table>
	</td>
  </tr></table>
</td>
</tr>
</table>
<div width=100%><div style="display: block;"><img src="img/avapace2.png" alt="" style="width: 80%;"/></div></div>
</div>